.container {
  width: 15vw;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: #aec4d0;
  margin-top: 25px;
}

.contentPath {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: #7900ff;
  margin-top: 25px;
}

.contentPath a {
  font-weight: 600;
  font-size: 14px;
}

.contentPath svg {
  width: 26px;
  height: 26px;
  margin-right: 20px;
}

.content:hover {
  color: #98b1bf;
}

.content a {
  font-weight: 600;
  font-size: 14px;
}

.content svg {
  width: 26px;
  height: 26px;
  margin-right: 20px;
}

.container footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  color: #aec4d0;
  font-weight: 600;
  font-size: 14px;
}

.container footer:hover {
  color: #98b1bf;
  cursor: pointer;
}
